#perfume-gabrielle-essence-eau-de-parfum-text {
    margin-top: 20px;
  }
  
  #perfume-gabrielle-essence-eau-de-parfum-text h1,
  #perfume-gabrielle-essence-eau-de-parfum-text h2 {
    text-align: center;
  }
  
  #perfume-gabrielle-essence-eau-de-parfum-text button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  #perfume-gabrielle-essence-eau-de-parfum-text h3 {
    margin-top: 20px;
    text-align: center;
  }

  
  #perfume-gabrielle-essence-eau-de-parfum {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  #perfume-gabrielle-essence-eau-de-parfum img {
    width: 100%;
    height: auto;
  }

  #perfume-gabrielle-essence-eau-de-parfum-text {
    margin-top: 20px;
  }

  #perfume-gabrielle-essence-eau-de-parfum-text h1,
  #perfume-gabrielle-essence-eau-de-parfum-text h2 {
    text-align: center;
  }

  #perfume-gabrielle-essence-eau-de-parfum-text button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  #perfume-gabrielle-essence-eau-de-parfum-text h3 {
    margin-top: 20px;
    text-align: center;
  }
