@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


.section {
    background-color: rgb(245, 230, 210);
    display: flex;
}

.PERFUME {
    max-width: 50%;
    margin-left: auto;
}

img {
    max-width: 100%;
    object-fit: cover;
}


.text {
    max-width: 50%;
    padding: 2rem 1rem;
}

.text h2 h1 {
    margin-bottom: 2rem;
}

.text p:first-of-type {
    margin-bottom: 3rem;
}